<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
  {% if exam %}
    {{ exam.subject.name }} - Question {{ current_question_number }}
  {% else %}
    CBT Exam
  {% endif %}
</title>


  <script src="https://cdn.tailwindcss.com"></script>

 <script>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']],
    packages: { '[+]': ['ams'] }   // 🔥 REQUIRED
  },
  svg: {
    fontCache: 'global'
  }
};
</script>

<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>

</head>

<body
  class="bg-slate-100 min-h-screen px-2 sm:px-4 py-3 sm:py-6"
  data-exam-id="{{ exam.id }}"
  data-question-number="{{ current_question_number }}"
  data-total-questions="{{ total_questions }}"
  data-student-id="{% if is_admission %}{{ application.id }}{% else %}{{ student.id }}{% endif %}">

  {% block content %}{% endblock %}
  {% block extra_js %}{% endblock %}

  <script>
  document.addEventListener("DOMContentLoaded", function () {
    if (window.MathJax && MathJax.typesetPromise) {
      MathJax.typesetPromise();
    }
  });
</script>

<script>

// Disable right click
document.addEventListener(
"contextmenu",
function(e){
    e.preventDefault();
});


// Disable common inspection shortcuts
document.addEventListener(
"keydown",
function(e){

    if(
        e.key === "F12" ||
        (e.ctrlKey && e.shiftKey && e.key === "I") ||
        (e.ctrlKey && e.shiftKey && e.key === "J") ||
        (e.ctrlKey && e.key === "r")
    ){
        e.preventDefault();
    }

});


// Detect leaving exam tab
document.addEventListener(
"visibilitychange",
function(){

    if(document.hidden){

        console.log("Student left exam page");

        // later we can connect this to auto submit

    }

});

</script>


</body>
</html>
