<style>

@page {
    size: A4;
    margin: 15mm;
}

body{
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.letter{
    width:100%;
}

.header{
    text-align:center;
    border-bottom:2px solid #1d4ed8;
    padding-bottom:8px;
}

.logo{
    width:70px;
    height:70px;
}

.title{
    font-size:20px;
    font-weight:bold;
}

.section{
    margin-top:12px;
}

.info td{
    padding:3px;
}

.footer{
    margin-top:30px;
    display:flex;
    justify-content:space-between;
}

.signature{
    width:100px;
}

.stamp{
    width:90px;
}

</style>


<div class="letter">


<div class="header">

{% if school.logo %}
<img src="{{school.logo.url}}" class="logo">
{% endif %}

<div class="title">
{{school.name}}
</div>

<div>
{{school.motto}}
</div>

<div>
{{school.address}}
</div>

</div>



<h2 style="text-align:center">
ADMISSION LETTER
</h2>



<p>
Dear {{application.parent_name}},
</p>


<p>
Congratulations! We are pleased to inform you that
<strong>
{{application.student_name}}
</strong>
has been offered admission into
<strong>
{{application.class_applying_for}}
</strong>
for the
<strong>
{{application.admission_session}}
</strong>
academic session at
<strong>
{{school.name}}
</strong>.
</p>


<p>
We are delighted to welcome your family into our learning
community and look forward to supporting your child's academic
journey.
</p>



<div class="section">

<h3>
Student Information
</h3>


<table class="info">

<tr>
<td><b>Name:</b></td>
<td>{{application.student_name}}</td>
</tr>


<tr>
<td><b>Class:</b></td>
<td>{{application.class_applying_for}}</td>
</tr>


<tr>
<td><b>Session:</b></td>
<td>{{application.admission_session}}</td>
</tr>


<tr>
<td><b>Resumption Date:</b></td>
<td>
{{application.resume_date|date:"F d, Y"}}
</td>
</tr>


</table>

</div>




<div class="section">

<h3>
Admission Instructions
</h3>

<ul>

<li>Accept the admission offer.</li>

<li>Complete all required payments.</li>

<li>Prepare for resumption on the stated date.</li>

</ul>

</div>




<div class="footer">


<div>

{% if school.principal_signature %}

<img src="{{school.principal_signature.url}}"
class="signature">

{% endif %}


<p>
____________________
</p>

<b>
{{school.principal_name}}
</b>

<br>

Principal

</div>



<div>

{% if school.school_stamp %}

<img src="{{school.school_stamp.url}}"
class="stamp">

{% endif %}


</div>


</div>



<p style="text-align:center;font-size:10px;margin-top:20px">

Generated electronically by TECHCENTER School Portal

Smart School Management • LMS • CBT • Digital Records

</p>


</div>vv